<div class="main">
<div class='card'>
  <div class='card-header'>
 <h4>STUDENT LIST</h4>
  </div>
  
  <div class='card-body'>            
    <div class='table-responsive'>
      <table class='table'>
            
        <thead>
          <tr>
           
            <th>Name</th>
            
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Email</th>
            <th>Qulification</th>
            <th>Course</th>
          </tr>
         
        </thead>
        <tbody *ngFor="let data of studentdata ">  
            <tr >
              <td>
                 {{data.name}} {{data.lastname}}
                </td>
               
                <td>
                 {{data.dob}}
                </td>
                <td>
                 {{data.address}} 
                </td>
                <td>
                  {{data.email}}
                </td>
                  <td>
                 {{data.qulification}}
                  </td>
                    <td>
                     {{data.course}}
                    </td>
                   
                    <td>
                 
                   <button class="btn btn-success" style="cursor:pointer" (click)="acceptuser(data)"  style="margin-left: 20px; margin-right: 20px;"  > ACCEPT</button> 
                  <button class="btn btn-danger" style="cursor:pointer"  (click)="rejectuser(data)" style="margin-left: 20px; margin-top: 20px; margin-bottom: 20px;" > REJECT</button>
                
 
                </td>
              </tr>              
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
