<div class="main">
<div class="card" style="width: 18rem;">
    <img src="https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{professor.name}}</h5>
     
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: {{professor.email}}</li>
      <li class="list-group-item">Qualification: {{professor.qualification}}</li>

    </ul>
  
  </div>
</div>