

/* a{
    color: white;
    
    font-size: medium; */
    /* padding: 2px; */
    /* text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}


.brand-logo{
    font-size: larger;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:	#FAF0E6;
    margin-left: 20px;
}


a:hover{
    color:aqua;
    background-color:#283593 ;
}

.nav-wrapper{
    background-color:#283593;
} */
