.main{
    margin:20px;
    font-weight: normal;
    margin-left: 30px;
    margin-right: 10px;
    width: auto;
    position: relative;

    display: block;
    margin-top: 250px; /* changed */
    overflow: visible;
}
.card{
    background-color: white;
    color: black;
}
.card-title{
    font-weight: bold;
    font-family: sans-serif;
    
}

#date{
    margin-top: 6px;
    margin-bottom: 2px;
}

#duration{
    /* margin-left: 4px; */
    margin-top: 8px;
    margin-bottom: 2px;
}
.card-action a{
  align-items: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-decoration: none;
  color: blue;
  margin-bottom: 80px;
  text-transform: uppercase;
  padding: 20px;
  margin-left: 120px;
    
}